{% extends 'base.html'%}
{% load bootstrap4 %}



    {%block titleh%}
        {% if categoria %}
            Editar | {{categoria.nome}}
        {% else %}
            Nova categoria
        {% endif %}
    {%endblock titleh%}

    {%block titulo%}
        {% if categoria  %}
            Editar <span style="color: blue; font-weight: bold";>{{categoria.nome}}</span>
        {% else %}
            Nova categoria
        {% endif %}
    {%endblock titulo%}

{%block conteudo%}
 
        {% if categoria.imagem %}
            <div class="row">
                <div class="col-xs-6 col-md-5">
                    <img src="{{categoria.imagem.url}}" alt="..." class="img-thumbnail">
                </div>
            </div>
        {% endif %} 
   
    <form method="POST" class="form" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}    
        {% bootstrap_form forms %}
        {% if categoria %}
            <input type="submit" class="btn btn-success" value="Salvar">
            <a href="{% url 'categorias' %}"<button type="button" class="btn btn-secondary">Voltar</button></a>
            <a title='excluir' href="{{categoria.id}}"  data-toggle="modal" data-target="#modalExemplo{{categoria.id}}"><button type="button" class="btn btn-danger">Excluir</button></a>
            <!-- Modal -->
            {% include 'modulos/_delete_modal_categoria.html'%}
        {% else %}
            <input type="submit" class="btn btn-success" value="Salvar">
            <input type="reset" class="btn btn-primary" value="Limpar">
            <a href="{% url 'categorias' %}"<button type="button" class="btn btn-secondary">Voltar</button></a>
        {% endif %}
    </form>

{%endblock conteudo%}