{% extends 'base.html'%}
{% load bootstrap4 %}
{% load static %}

{%block titleh%}Home{%endblock titleh%}

{%block titulo%}Home{%endblock titulo%}
{%block mensagem%}

{% bootstrap_messages %}

{%endblock mensagem%}
{%block conteudo%}

Conteúdo da Página. Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium minus molestias deserunt
delectus!
Aspernatur, odit aut obcaecati ex libero vitae neque fugiat. Magnam aliquam reprehenderit voluptatum sed,
tempora in eos.

{%endblock conteudo%}
