{% extends 'base.html'%}

{% load bootstrap4 %}
{% load static %}

{%block mensagem%}

{% bootstrap_messages %}

{%endblock mensagem%}

{%block titleh%}Produtos{%endblock titleh%}

{%block search%}
<div class="container">
  <div class="search-contaoner">
      <form action="" class="search-form">
          <input type="search" class="search-input" name="search">
          <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
      </form>
  </div>
</div>
{%endblock search%}
{%block titulo%}Meus Produtos {%endblock titulo%}
{%block conteudo%}



<!-- Page Content -->
<a href="{% url 'add_produto'%}"><button type="button" class="btn btn-primary">Adicionar Produto</button></a>
      
     
     
        <table  class="table">
        <thead>
          <tr> 
            <th>Nome</th>
            <th>Preço</th>
            <th>Descrição</th>
            <th>Categoria</th>
            <th>Operações</th>
          </tr>
        </thead>
        <tbody>
          {% for produto in produtos %}
          <tr>
            <td> <a href="{% url 'edit_produto' produto.id %}">{{produto.nome}}</a> </td>
            <td>{{produto.preco}}</td>
            <td>{{produto.descricao}}</td>
            <td>{{produto.categoria}}</td>
            <td>
              <a title='editar'  href="{% url 'edit_produto' produto.id %}"><img src="{% static '/vendor/images/editar.png'%}" width='33px'></a>
              <a title='excluir' href="{{produto.id}}" style="padding: 20px;" data-toggle="modal" data-target="#modalExemplo{{produto.id}}"><img src="{% static '/vendor/images/excluir.png'%}" width='35px'></a>
            </td> 
            <!-- Modal -->
            {% include 'modulos/_delete_modal.html'%}
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
      <!-- Paginacao -->
      {%include 'modulos/_paginacao_nav.html'%}

{%endblock conteudo%}